<section class="author">
  <div class="authorimage box" style="background: url({{site.baseurl}}/assets/img/avatar2017.jpg)"></div>
  <div class="authorinfo box">
    <p class="bio" style="color: #222">
      My name is Hieu. I'm an Engineer who likes learning, discussing, and solving interesting problems. These days, I'm focusing on DevOps and Infrastructure.
    </p>
    <a class="github-button" href="https://github.com/hieuhtr" data-size="large" data-show-count="true" aria-label="Follow @hieuhtr on GitHub">Follow @hieuhtr</a>
  </div>
</section>
