<div id="fbc-comment-form" style="display: none;">
  <button id="fbc-logout">Logout</button>
  <h4><span id="fbc-comment-count"></span> Comments</h4>
  <textarea id="fbc-comment-message" rows="8" placeholder="Comment"></textarea>
  <button id="fbc-comment-form-submit">Submit</button>
</div>

<div id="fbc-login-buttons" style="display: none;">
  <h4>Login to comment</h4>
  <button data-auth-provider="google">Google</button>
  <button data-auth-provider="facebook">Facebook</button>
  <button data-auth-provider="twitter">Twitter</button>
  <button data-auth-provider="github">GitHub</button>
</div>

<div id="fbc-comments-list"></div>
<script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBpxw9ngFpHgIe_Wy4kWz4yLLTzVX9EJNU",
    authDomain: "llnx-comment.firebaseapp.com",
    databaseURL: "https://llnx-comment.firebaseio.com",
    projectId: "llnx-comment",
    storageBucket: "llnx-comment.appspot.com",
    messagingSenderId: "804716841360"
  };
  firebase.initializeApp(config);
</script>