---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="article_header">
    <h1 class="post_title" itemprop="name headline">{{ page.title }}</h1>
    <time class="post_date">{{ page.date | date: "%d %B %Y, %A" }}</time>
    <a class="post_date"> - {{ page.content | number_of_words | divided_by:180 | plus:1 }} min read</a>
    <div class="issues" style="float: right">
      <a class="github-button" href="https://github.com/hieuhtr/Blog/issues" data-show-count="true" aria-label="Issue hieuhtr/Blog on GitHub">Explore</a>
    </div>
  </header>

  <div class="article-content" itemprop="articleBody">
    {{ page.content }}
    <div id="gitment-container"></div>
  </div>

  <footer class="article-footer">

  <hr/>

  {% include author.html %}

  </footer>

  {% include dq.html %}

</article>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  owner: 'hieuhtr',
  repo: 'hieuhtr.github.io',
  oauth: {
    client_id: '638f29259139b299c74e',
    client_secret: 'fd699f58f759559b935c6a184474a4761bd35201',
  },
})
gitment.render('gitment-container')
</script>
